node_modules/
vendor/
.env
.env.local
.env.*.local
.DS_Store
dist/
build/
coverage/
.phpunit.result.cache
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
!storage/framework/views/.gitignore
!storage/logs/.gitignore
public/storage
public/hot
.idea/
.vscode/
*.log
